.base {
}

.white {
    background-color: white;
}

.grey {
    background-color: rgb(243, 243, 243);
}
.darkGrey {
    background-color: rgb(211, 211, 211);
}

.blue {
    background-color: var(--color-blue-l1);
}

.green {
    background-color: #c3ffc1;
}
.transparent {
    background-color: transparent;
}

.sharp {
    border-radius: 0px;
}
.roundedCorners {
    border-radius: 4px;
}
.roundedCorners2 {
    border-radius: 10px;
}
