.base{
    align-items: center;
    cursor: inherit;
    font-style: normal;
    font-weight: unset;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.small{
    font-size: small;
}

.medium{
    font-size: medium;
}

.large{
    font-size: large;
}

.black{
    color: black;
}
.grey{
    color: gray;
}
.white{
    color: white;
}
.red{
    color: red;
}