@import "../../../styles/style.css";

.fontsize_small{
    font-size: small;   
}
.fontsize_medium{
    font-size: medium;   
}
.fontsize_large{
    font-size: large;   
}

.padding_Zero {
    padding: 0;
}
.padding_Quarter {
    padding: 0.25em;
}
.padding_Half {
    padding: 0.5em;
}
.padding_TreeQuarters {
    padding: 0.75em;
}
.padding_One {
    padding: 1em;
}

.shape_sharp {
    border-radius: 0px;
}
.shape_slightlyRounded{
    border-radius: 3px;
}
.shape_rounded{
    border-radius: 7px;
}
.shape_elipse{
    border-radius: 50%;
}

.boxshadow_none{
    box-shadow: none;
}

.boxshadow_light{
    box-shadow: 1px 1px 2px #888888;
}

.color_green { color: var(--color-green) }
.color_greenL1{ color: var(--color-green-l1) }
.color_blue{ color: var(--color-blue) }
.color_blueL1{ color: var(--color-blue-l1) }
.color_white{ color: var(--color-white) }
.color_whiteL1{ color: var(--color-white-l1) }
.color_gray{ color: var(--color-gray) }
.color_red{ color: var(--color-red) }
.color_redL1{ color: var(--color-red-l1) }
.color_transparent{ color: var(--color-transparent) }
.color_transparentD1{ color: var(--color-transparent-d1) }
.color_transparentD1{ color: var(--color-black) }

.animation_spin{
    animation: spin infinite 3s linear;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }