.base {
    border-style: none;
    cursor: pointer;
    height: auto;
}

.accept {
    background-color: #1cbe3f;
    color: #e5edf1;
}
.accept:hover {
    background-color: #2ccc4e;
    color: #e5edf1;
}
.default {
    background-color: #026aa7;
    color: #ebf3f8;
}
.default:hover {
    background-color: #04649c;
    color: #e5edf1;
}
.cancel {
    background-color: #d83b3b;
    color: #ebf3f8;
}
.cancel:hover {
    background-color: #d85353;
    color: #e5edf1;
}
.transparent {
    background-color: transparent;
    color: gray;
}
.transparent:hover {
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.05);
}
.grey {
    background-color: #f4f5f7;
    color: #888888;
    box-shadow: 1px 1px 2px #888888;
}
.grey:hover {
    background-color: #ebecf0;
}
