.base{
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1em;
}

.default{
    outline: none;
    border: 0px;
    box-shadow: 1px 1px 2px #888888;
    background-color: #F4F5F7;
}

.transparent{
    background-color: transparent;
    border: 0px;
    outline: none;
}

.invalid{
    background-color: rgb(252, 215, 215);
}