:root{
    --color-green: #1cbe3f;
    --color-green-l1: #2ccc4e;
    --color-blue: #04649c;
    --color-blue-l1:#026aa7;
    --color-white:#e5edf1;
    --color-white-l1: #ebecf0;
    --color-gray: #888888;
    --color-gray-l1: #a3a3a3;
    --color-gray-l2: #c0bebe;
    --color-gray-l3: #d4d4d4;
    --color-red: #d83b3b;
    --color-red-l1: #d85353;
    --color-transparent: transparent;
    --color-transparent-d1: rgba(0, 0, 0, 0.05);
    --color-black: black;

    --box-shadow: 1px 1px 2px var(--color-gray);
}