.base {

}

.white {
    background-color: white;
}

.grey {
    background-color: rgb(243, 243, 243);
}

.blue {
    background-color: var(--color-blue-l1);
}

.green {
    background-color: #a6f5b7;
}
.transparent {
    background-color: transparent;
}

.sharp {
    border-radius: 0px;
}
.roundedCorners {
    border-radius: 4px;
}
.roundedCorners2 {
    border-radius: 10px;
}

