.base {
    padding: 1em;
    box-shadow: 1px 1px 2px #888888;
}

.white {
    background-color: white;
}

.grey {
    background-color: rgb(243, 243, 243);
}

.green {
    background-color: #a6f5b7;
}

.sharp {
    border-radius: 3px;
}
.roundedCorners {
    border-radius: 7px;
}
