.container{
    display: inline-flex;
    justify-items: flex-start;
}

.base{
    
}

.gray{
    color: var(--color-gray);
}

.black{
    color: black;
}

.white{
    color: white;
}

.xSmall{
    width: 10px;
    height: 10px;
}
.small{
    width: 16px;
    height: 16px;
}
.medium{
    width: 24px;
    height: 24px;
}
.large{
    width: 32px;
    height: 32px;
}