@import "../../../styles/style.css";

.base {
    border-style: none;
    cursor: pointer;
    height: auto;
}

.accept {
    background-color: var(--color-green);
    color: var(--color-white);
}
.accept:hover {
    background-color: var(--color-green-l1);
    color: var(--color-white);
}
.default {
    background-color: var(--color-blue);
    color: var(--color-white);
}
.default:hover {
    background-color: var(--color-blue-l1);
    color: var(--color-white);
}
.cancel {
    background-color: var(--color-red);
    color: var(--color-white);
}
.cancel:hover {
    background-color: var(--color-red-l1);
    color: var(--color-white);
}
.transparent {
    background-color: var(--color-transparent);
    color: var(--color-gray);
}
.transparent:hover {
    opacity: 0.9;
    background-color: var(--color-transparent-d1);
}
.grey {
    background-color: var(--color-white);
    color: var(--color-gray);
    box-shadow: var(--box-shadow)
}
.grey:hover {
    background-color: var(--color-white-l1);
}
