.base {
    display: flex;
    border-style: none;
}

.alignUnset {
    align-items: unset;
}
.alignRight {
    align-items: flex-end;
}
.alignLeft {
    align-items: flex-start;
}
.alignCenter {
    align-items: center;
}

.alignStretch{
    align-items: stretch;
}
.spaceBetween {
    justify-content: space-between;
}
.spaceEvenly {
    justify-content: space-evenly;
}
.stretch {
    justify-content: stretch;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.gapSize1 {
    gap: 0em;
}

.gapSize1 {
    gap: 0.5em;
}

.gapSize2 {
    gap: 1em;
}

.gapSize3 {
    gap: 2em;
}
